<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/jogo_marmota.css">
   
    <title>Jogo da Marmota</title>
</head>
<body>
    <h1>Jogo da Marmota 🦫</h1>
    <p>Pontuação: <span id="score">0</span></p>
    <label for="game-time">Tempo de jogo:</label>
    <select id="game-time">
        <option value="15">15s</option>
        <option value="30">30s</option>
        <option value="60">1 min</option>
    </select>
    <button onclick="startGame()">Iniciar Jogo</button>

    <div id="game-board">
        <!-- 9 buracos -->
        <div class="hole"><div class="mole"></div><div class="trap"></div></div>
        <div class="hole"><div class="mole"></div><div class="trap"></div></div>
        <div class="hole"><div class="mole"></div><div class="trap"></div></div>
        <div class="hole"><div class="mole"></div><div class="trap"></div></div>
        <div class="hole"><div class="mole"></div><div class="trap"></div></div>
        <div class="hole"><div class="mole"></div><div class="trap"></div></div>
        <div class="hole"><div class="mole"></div><div class="trap"></div></div>
        <div class="hole"><div class="mole"></div><div class="trap"></div></div>
        <div class="hole"><div class="mole"></div><div class="trap"></div></div>
    </div>
</body>
<script src="/static/js/jogo_marmota.js"></script>
</html>