<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lobby</title>
    <link rel="stylesheet" href="/static/css/lobby.css">
</head>
<body>
    <h1 id="welcome-message">
        Bem-vindo ao Lobby, <a href="/pagina/{{current_user.username}}" id="username">{{current_user.username}}</a>!
    </h1>

    <div class="container">
        <p>Escolha o que deseja fazer:</p>

        <ul>
            <li>
                <form action="/jogo_marmota/{{current_user.username}}" method="get">
                    <button type="submit">🧀 Joga - My.Queijo</button>
                </form>
            </li>
        </ul>
        <ul>
            <li>
                <form action="/ranking/{{current_user.username}}" method="get">
                    <button type="submit">🏆 Ver Ranking</button>
                </form>
            </li>
        </ul>
    </div>
</body>
</html>
