<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minha Primeira Página BMVC</title>
    <link rel="stylesheet" type="text/css" href="/static/css/pagina.css">
    <script src="/static/js/pagina.js"></script>
</head>
<body>
    <h1>Minha página com interação de modelos :</h1>

    % if transfered:
        <div>
            <h2>Dados do Usuário:</h2>
            <p>Username:  {{current_user.username}} </p>
            <form action="/logout" method="post">
                <button type="submit">Logout</button>
            </form>
        </div>
    % else:
        <p>Porém, desta vez não foram transferidas quaisquer informações : </p>
    % end
</body>
</html>
