<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ranking</title>
    <link rel="stylesheet" href="/static/css/ranking.css">
</head>
<body>
    <div class="container">
        <div class="message-section">
            <h1>Parabéns aos Jogadores!👑👏</h1>
            <p>Aqui está o ranking atual:</p>
        </div>
            <table>
                <thead>
                    <tr>
                        <th>Posição</th>
                        <th>Nome</th>
                        <th>Pontuação</th>
                    </tr>
                </thead>
                <tbody>
                    % for pos, player in enumerate(ranking, start=1):
                        <tr>
                            <td>{{ pos }}</td>
                            <td>{{ player['username'] }}</td>
                            <td>{{ player['score'] }}</td>
                        </tr>
                    % end
                </tbody>
            </table>
        </div>

        <div class="footer-section">
            <p>Continue jogando e se divertindo! 🏆</p>
        </div>
    </div>
</body>
</html>
